@font-face {
  font-family: "AP Var";
  src: url("./fonts/ap_var.woff2") format("woff2");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

@font-face {
  font-family: "AP Italic";
  src: url("./fonts/ap_italic.woff2") format("woff2");
  font-style: italic;
}
